[Desktop Entry]
Name=NetControl
GenericName=Network Control Tool
Comment=Cut / limit network hosts (ARP spoofing) - IPv4 & IPv6
Exec=sudo /usr/bin/netcontrol
Icon=none
Terminal=true
StartupNotify=true
Categories=Utility;Security;Network;
